/node_modules
/public/hot
/public/assets/qr_code/
/public/storage/
/public/assets/
/public/assets24/
/public/carvep/
/public/css/app-*.css
/public/css/app.css
/public/js/app.js
/public/js/app-*.js

/resources/views/admin/css_version.blade.php
/resources/views/admin/js_version.blade.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

firebase-adminsdk.json
mysql_dump.sh
